
<div class="container-fluid center-block text-center" id="containerForResults">

    <div class="row ">
    
            <div class="text-left" id="searchResultsBoxResults">

            <div class="row">
                <span class="companyLocation">{{placeholder}}{{companyLocation}}</span>
                <p class="jobTitle">
                <strong><a href={{url}} target="_blank">{{jobTitle}}</a></strong></p>
            </div>
            <div class="row">    
                <p class="date">{{date}}</p>
                <p class="companyName"><strong>{{companyName}}</strong></p>
            </div>
            <div class="row">
{{!--                <button onClick="" className=" btn btn-default btn-xs saveButton">Save</button>   --}}
                <p class="snippet">{{snippet}}</p>  
            </div>
            <hr class="hrResults"/>
        </div>  {{!-- END SEARCHRESULTSBOXRESULTS --}} 
    
    </div>  {{!-- END ROW --}} 

</div>  {{!-- END CONTAINER --}} 



