
<!-- NAVBAR ================================================= -->

<nav class="navbar navbar-primary navbar-fixed-top" id="navbar">
    <div class="container-fluid">
            
        <div class="navbar-header">
        
        <!-- Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="bs-example-navbar-collapse-1" aria-expanded="false" style="border:1px solid #595959;">
                    <span class="sr-only" >Toggle navigation</span>
                    <span class="icon-bar" style="background:#595959;"></span>
                    <span class="icon-bar" style="background:#595959;"></span>
                    <span class="icon-bar" style="background:#595959;"></span>
                </button>

            <!-- Brand -->
                <a class="navbar-brand" href="index.html" id="brand">RESUME BUILDER</a>
        </div> 
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="navLinks" data-toggle="collapse" data-target=".navbar-collapse">HOME</a></li>                        
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#" class="navLinks">POST A JOB</a></li>
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#" class="navLinks">SIGN IN</a></li>
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" href="#" class="navLinks">CREATE AN ACCOUNT</a></li>
               
                </ul>

            </div>

    </div> 
</nav>

 <!-- NAVBAR ================================================= -->


 <!-- HOMEPAGE ================================================= -->
<div class="container-fluid">

<div class="jumbotron row">

    <div class="row text-center"> 
        <div id="titleOne">Welcome to </div>
        <div id="titleTwo"> Resume Builder</div>
        <br>
        <div id="subtitle">A place for students to gain work experience. </div>
    </div>



<div class="row text-center center-block">

        <br/>


<!-- ================== SEARCH FORM ============================ -->
    <form
        action="/" 
        method="POST"  
        class="create-form" 
        id="searchForm" >

        <div id="jobSearchDiv">
        
        <span id="searchGlyphicon"> 
        <img id="searchGlyphiconImg" src="./assets/img/glyphicons-search.png"/></span>
            <input  
            type="text" 
            class="form-control" 
            placeholder="Job Type or Category..." 
            id="keyword" 
            name="jobType"
            autocomplete="off"
             />
        </div>
          
        <div id="locationSearchDiv">
        <span id="mapGlyphicon"> <img id="mapGlyphiconImg" src="./assets/img/glyphicons-map.png"/> </span>
        
        <input 
            type="text" 
            class="form-control" 
            placeholder="Location..." 
            id="location" 
            name="location"
            autocomplete="on"
             />
        </div>

        <button 
            class="btn btn-default" 
            type="submit" 
            value="Search" 
            id="searchButton">
            Search
        </button>

    </form>
<!-- ================== SEARCH FORM ============================ -->

        <p id="message1"><b>Not registered? </b> 
        <a href to="/CreateAnAccount">Create an account</a></p>
        
        <p id="message2"><b>Are you an organization? </b>
        <a href to="/PostAJob">Post a job</a></p>

        <p id="message3"><b>Already a member? </b>
        <a href to="/SignIn">Log In</a></p>

<!-- ================== SEARCH FORM ============================ -->

<!-- ================== RESULTS ================================ -->
    <div class="container-fluid center-block text-center" id="containerForResults">

        <div class="row ">
    
            <div class="text-left" id="searchResultsBoxResults">

            <div class="row">{{#each placeholder}}
                <span class="companyLocation" style="font-size:12px;">{{formattedLocation}}</span>
                <p class="jobTitle" style="font-size:12px;">
                <strong><a href={{url}} target="_blank">{{jobtitle}}</a></strong></p>
            </div>
            <div class="row">    
                <p class="date" style="font-size:12px;">{{date}}</p> 
                {{!-- date.split("", 12) --}}
                <p class="companyName" style="font-size:12px;"><strong>{{company}}</strong></p>
            </div>
            <div class="row">
{{!--                <button onClick="" className=" btn btn-default btn-xs saveButton">Save</button>   --}}
                <p class="snippet" style="font-size:12px;">{{snippet}}</p> {{/each}}
            </div>
            {{!-- <hr class="hrResults"/> --}}
        </div>  {{!-- END SEARCHRESULTSBOXRESULTS --}} 
    
    </div>  {{!-- END ROW --}} 

    <br/> <br/> 

<div class="row">
<footer class="footer text-center"><p  style="font-size:12px; width:100%;">Copyright @ 2017 Resume Builder</p></footer>
</div>

</div>  {{!-- END CONTAINER --}} 


        </div> <!-- END ROW -->
    </div> <!-- END JUMBOTRON ROW -->
</div> <!-- END CONTAINER -->

{{!-- {{> search}} --}}

 <!-- HOMEPAGE} ================================================= -->